<!-- <image-cropper
    [imageChangedEvent]="dialog"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 4"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    
></image-cropper>

<img [src]="croppedImage" /> -->

<!-- <image-cropper
  
    (imageCropped)="imageCropped($event)"
   
></image-cropper> -->

<!-- 
<image-cropper
[imageChangedEvent]="data"
[maintainAspectRatio]="true"
[aspectRatio]="4 / 4"
[resizeToWidth]="128"
format="png"
(imageCropped)="imageCropped($event)"
></image-cropper> -->


<image-cropper
    [imageChangedEvent]="data"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
   
></image-cropper>
<button  mat-button  (click)="cancel()">cancel</button>
<button  mat-button   (click)="submit()">Submit</button>
