<!-- remaind me button -->
<div fxLayoutAlign="space-between end" fxLayout="row" fxFlex="60">
  <button id="Remaind" matTooltip="Remind me" mat-icon-button [matMenuTriggerFor]="Reminder">
    <mat-icon>
      <img src="../../../assets/bell.svg" /></mat-icon>
  </button>
  <!-- -------------------------------------------------------------------------------------- -->
  <mat-menu #Reminder="matMenu" class="remindermenu">
    <mat-nav-list>
      <mat-list-item>
        <p>Reminder :</p>
      </mat-list-item>
      <mat-list-item>
        <div class="latertoday" (click)="latertoday(card)">Later Today
          <span id="later">8:00 PM</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="Tommrow" (click)="Tommrow(card)">Tommrow
          <span id="later">8:00 PM</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="Next" (click)="NextWeek(card)">Next week <span id="later">8:00 AM</span> </div>
      </mat-list-item>
      <mat-list-item>
        <button mat-menu-item [matMenuTriggerFor]="pickdate">
          <mat-icon>
            <img src="../../../assets/remi.svg">
          </mat-icon>Pick date & time
        </button>
      </mat-list-item>
      <div class="date">
        <mat-menu #pickdate='matMenu'>
          <mat-nav-list>
            <mat-list class="pickdate">
              <div>
                <mat-list-item id="pickAdjust">
                  <div>Pick Date and time</div>
                </mat-list-item>
              </div>
              <div class="datepicker">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" [(ngModel)]='date' placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="addtime">
                <mat-form-field (click)="$event.stopPropagation()">
                  <mat-select placeholder="Add a time">
                    <div style="display: flex">
                      <div class="afternoon">
                        Morning
                      </div>
                      <mat-option value="option0" (click)="time('08:00')">8:00 AM</mat-option>
                    </div>
                    <div style="display: flex">
                      <div class="afternoon">
                        Afternoon
                      </div>
                      <mat-option value="option1" (click)="time('13:00')">1:00 PM</mat-option>
                    </div>
                    <div style="display: flex">
                      <div class="afternoon ">
                        Evening
                      </div>
                      <mat-option value="option2" (click)="time('18:00')">6:00 PM</mat-option>
                    </div>

                    <div style="display: flex">
                      <div class="afternoon ">
                        Night
                      </div>
                      <mat-option value="option3" (click)="time('20:00')"> 8:00 PM</mat-option>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group" (click)="$event.stopPropagation()">
                      <input placeholder="Default time 11:11 pm" aria-label="default time" [ngxTimepicker]="defaultTime"
                        [formControl]="timeCustom" readonly>
                      <ngx-material-timepicker #defaultTime [defaultTime]="'11:11 pm'"></ngx-material-timepicker>
                      <mat-option [value]="timeCustom" (click)="time(timeCustom.value)">{{timeCustom.value}}
                      </mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- <mat-form-field class="custom" (click)="$event.stopPropagation()">
                <mat-select placeholder="custom">
                  <mat-option value="option4"> Does not repeat</mat-option>

                  <mat-option value="option4"> Daily</mat-option>

                  <mat-option value="option4"> Weekly</mat-option>

                  <mat-option value="option4"> Monthly</mat-option>

                  <mat-option value="option4"> Yearly</mat-option>
                </mat-select>
              </mat-form-field> -->

              <div class="save" fxLayout="row" fxLayoutAlign="end end">
                <button mat-button (click)="saveReminder(card)">
                  Save
                </button>
              </div>
            </mat-list>
          </mat-nav-list>
        </mat-menu>
      </div>
    </mat-nav-list>
  </mat-menu>



  <!-- Collaborator icon -->
  <button id="coll" mat-icon-button matTooltip="Collaborator">
    <img id="img" src="../../../assets/user.svg" />
  </button>

  <!-- color button -->
  <button id="col" mat-icon-button [matMenuTriggerFor]="colorlist" matTooltip="Change color">
    <img id="img" src="../../../assets/color.svg" />
  </button>

  <mat-menu   #colorlist="matMenu" [overlapTrigger]="false" yPosition="above">
    <ng-template matMenuContent>
      <div class="buttons">
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 2px" *ngFor="let colors of colorArray">
          <div *ngFor="let color of colors">
            <button class="colors" [ngStyle]="{ 'background-color': color.color }"
              (click)="colorsEdit(color.color,card)" matTooltip="{{ color.name }}" mat-mini-fab></button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-menu>

  <!-- add image button -->
  <div>
    <button id="img" mat-icon-button matTooltip="Add image">
      <img id="img" (change)="onFileSelected($event)" src="../../../assets/image.svg" />
    </button>
  </div>

  <!-- archive button -->
  <div>
    <button id="arc" *ngIf="more !='archive'" mat-icon-button matTooltip="Archive">
      <img src="../../../assets/archive.svg" (click)="doArchive(card)" />
    </button>
    <button id="unarc" *ngIf="more == 'archive'" mat-icon-button matTooltip="unarchive">
      <img src="../../../assets/unarchive.svg" (click)="doUnArchive(card)" />
    </button>
  </div>

  <!-- more menu button -->
  <button id="menu" mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="More">
    <img id="img" src="../../../assets/more.svg" />
  </button>
  <mat-menu #menu="matMenu">
    <!-- <div *ngIf="type=='note'">
        <button mat-menu-item  (click)="$event.stopPropagation()">add label</button>
        <button mat-menu-item >show tick boxes</button></div>
         -->
    <div *ngIf="type!='note'">
      <button mat-menu-item (click)="deleteNote(card)">Delete Note</button>
      <button mat-menu-item (click)="$event.stopPropagation()" [matMenuTriggerFor]="addLabel">add label</button>
    </div>
  </mat-menu>
</div>

<!-- add label -->


<div class="mainlabel">
  <mat-menu #addLabel="matMenu">
    <div class="labelname">Label note</div>
    <div class="search123">
      <div class="searchicon"></div>
      <input [(ngModel)]="text" (click)="$event.stopPropagation()" maxlength="50" placeholder="Enter label name"
        (click)="reverseFlag()" class="inputlabel">
    </div>
    <div class="displaydiv" *ngFor='let label of labels.data | labelpipe: text'>
      
        <div *ngIf='flag1==true'>
          <mat-checkbox color="primary" class="matbox" (click)="$event.stopPropagation()" (click)="labelselect(card,label)">
            {{label.label}}
          </mat-checkbox>
        </div>
        <div *ngIf='flag1==false'>
          <mat-checkbox color="primary" class="matbox" (click)="$event.stopPropagation()" (click)="labelselect(card,label)">
            {{label.label}}
          </mat-checkbox>
        </div>
      
      </div>
      <div *ngIf='flag1==false' class="createSerachlabel">
        <div class="fun" (click)="one()">
            <img src="../../../assets/addlabel.svg">
        </div>
        <div class="hello">
          Create {{text}}
        </div>
      </div>

   




  </mat-menu>
</div>





<!-- <div *ngFor='let array of labelList | labelsearch:label'>
  <div *ngIf='flag3==true'>
    <div fxLayout='row'>
      <mat-checkbox (click)="checked()" (click)="$event.stopPropagation()" (click)='addLabeltocard(card,array)'>
        {{array.label}}</mat-checkbox>
    </div>
  </div>
  <div *ngIf="flag3==false">
    <mat-checkbox (click)="$event.stopPropagation()" (click)='addLabeltocard(card,array)'>{{array.label}}</mat-checkbox>
  </div>
</div>
<div fxLayout='row' *ngIf="flag3==false">
  <div (click)='addLabel(label)'><img src='../../../assets/images/add_mark.svg'></div>
  <div>Create "{{label}}"</div>
</div> -->