// .reminder{
//     img {
//       margin-top: 14%;
//       // width:fit-content;
//       width: 18px;
//       height: 18px;
//       opacity: 0.7;
//       // display: inline-block;
//     }
//   }
.colors:focus{
background-image: url("../../../assets/icons8-checkmark.svg");
background-position: center;
background-repeat: no-repeat
}

.mat-mini-fab{
  width: 28px;
    height: 30px;
}
.matmenu {
  width: 100%;
   border-radius: 5%;
  font-family: 'googlefonts',arial,sans-serif;
  background-color: darkgrey
}

// .btn {
//   border-radius: 50%;

// }

.white {
  background-color: rgb(248, 248, 248);
  margin-left: 5px;
  margin-bottom: 5px;
}

.red {
  margin-left: 8px;
}

.orange {

  margin-left: 8px;
}

.yellow {

  margin-left: 8px;
  margin-right: 8px;
}

.green {

  margin-left: 8px;
  margin-bottom: 10px;
}

.teal {

  margin-left: 8px;
}

.blue {
  size: 1px;
  margin-left: 8px;
}

.darkblue {

  margin-left: 8px;
}

.purple {

  margin-left: 8px;
  margin-bottom: 10px;
}

.pink {

  margin-left: 8px;
}

.Brown {

  margin-left: 8px;
}

.gray {

  margin-left: 8px;
}
.icon{
  margin-top:4%
}
// .icon:hover{
//   visibility: visible
// }
// .icon{
//   visibility: hidden;
// }
#Remaind {
  img {
    margin-bottom: 10%;
      opacity: 0.7;
      width: 18px;
            height: 18px;
      //       opacity: 0.7;
  }
}
#coll {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#col {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#img {
  img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
    margin-top: -112%;
  }
}
#arc {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#unarc {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#menu {
  img {
    width: 18px;
    height: 18px;
      opacity: 0.7
  }
}
#later{
  opacity: 0.6;
  float: right;
}
#tom{
  opacity: 0.6;
}
#nextweek{
  opacity: 0.6;
}




.mat-list-item {
    color: #202124;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0px;
    /* position: relative; */
    height: inherit;
    border-radius: 0 25px 25px 0;
}

//   .mat-menu-panel {
//     width: 194px;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
//     /* max-height: calc(100vh - 48px); */
//     /* border-radius: 4px; */
//     outline: 0;
//     padding: 6px 0px 6px 0px
// }

// .later8pm
// {
//   margin-left: 20px
// }
// .twm8am{
//   margin-left: 25px
// }
// .rem{
//   padding: 0 16px
// }


.latertoday{
  // background-color: darkred;
  padding: 0px 0px;
  width: 100%;
  
}
.Next{
  // padding: 0px 0px;
  width: 100%
}
.Tommrow{
  padding: 0px 0px;
  width: 100%
}
// .date{
// padding: 10px
// }
.datepicker{
  margin: 7px;
  height: 59px;
  // width: 276px;
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 228px;
  }
}
.addtime{
  margin: 7px;
  height: 59px;
  .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 249px;
}
}
.custom{
  margin: 7px;
  height: 59px;
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 249px;
 }
}
.save{
  margin-left: 10px
}
.mat-menu-content{
  width: 100%
}
.afternoon{
  flex: 1 1 auto ;
      padding: 15px 11px
}

.mat-select-panel{
  height: 463px !important;
  min-height: 463px !important
}








.mat-menu-content {
  /* padding-top: 8px; */
  /* padding-bottom: 8px; */
  padding-top:11px !important;
  padding-bottom: 0px !important
}

.labelname{
  cursor: default;
  font-size: 14px;
  padding: 0 12px;
}
.search123
{
  padding: 8px 12px;
  margin: 1px;
  display: flex;
  font-family: 'googlefonts',arial,sans-serif
}
.searchicon{
  background: url("../../../assets/labelserach.svg");
  background-size: 14px 14px;
  height: 18px;
  opacity: .35;
  position: absolute;
  right: 12px;
  width: 18px;
  top: 40px;
  background-repeat: no-repeat;
}

.inputlabel{
  box-sizing: border-box;
    height: auto;
    padding: 2px 22px 2px 2px;
    width: 100%;
    outline: none;
    border: none
}

.displaydiv{
  max-height: 250px;
  // overflow-y: auto;
  padding: 6px 0;
  position: relative;
  width: 100%;
}
.hooo{
  padding: 10px 6px 3px;
  margin-left: -3px;
  padding-top: 2px;
  vertical-align: top;
  display: inline-block;
  max-width: 160px;
  font-family: 'googlefonts',arial,sans-serif
}

.checkbox{
  background: url('../../../assets/chcekbox.svg');
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 3px 0px 0px 10px;
  opacity: 0.54;
}




.matbox{
  display: inline-block;
  height: 16px;
  line-height: 0;
  /* margin: auto; */
  margin-right: 12px !important;
  margin-left: 16px !important;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px;
  flex-shrink: 0;
  top: 1px !important;
  
}