<div [ngClass]="sidenave">

    <div [ngClass]="grid" cdkDropList (cdkDropListDropped)="drop($event)">

        <mat-card class="matcard" fxLayout='column' *ngFor='let array of cards' [style.backgroundColor]="array.color" cdkDrag>

            <div fxLayout='row' fxLayoutAlign="space-between center">
                <div class="title" (click)="openDialog(array,trash,archived)">
                    {{array.title}}
                </div>
                <div class="barpin" *ngIf="trash!='trash'">
                    <button *ngIf="array.pinned" matTooltip="Unpin note" mat-icon-button color="basic"
                        (click)=doUnPinned(array)>
                        <img src="../../../assets/unpinbar.svg">
                    </button>
                    <button *ngIf="!array.pinned" matTooltip="Pin note" mat-icon-button color="basic"
                        (click)=doPinned(array)>
                        <img src="../../../assets/pinbar.svg">
                    </button>

                </div>
            </div>
            <div class="sasas" (click)="openDialog(array,trash,archived)">
                {{array.description}}
            </div>

            <!-- -------------------------------------Reminder----------------------------------------------------- -->
            <div *ngIf="trash!='trash'" [ngStyle]="{'margin': '3% 0% 1% 1%'}">
                <mat-chip-list>
                    <div *ngIf='(disdate|date:shortDate)===(array.reminder|date:shortDate)&& array.reminder !=""'>
                        <mat-chip>
                            <img class="todayrem" src="../../../assets/remi.svg">
                            Today {{ array.reminder | date:'shortTime' }}
                            <mat-icon matTooltip="Delete reminder" matChipRemove (click)="delete(array)">cancel
                            </mat-icon>
                        </mat-chip>

                    </div>
                    <div *ngIf='(tomdate|date:shortDate)===(array.reminder|date:shortDate)&& array.reminder !=""'>
                        <mat-chip>
                            <img class="todayrem" src="../../../assets/remi.svg">
                            Tom {{ array.reminder | date:'shortTime' }}
                            <mat-icon matTooltip="Delete reminder" matChipRemove (click)="delete(array)">cancel
                            </mat-icon>
                        </mat-chip>

                    </div>
                    <div
                        *ngIf='(disdate|date:shortDate)!=(array.reminder|date:shortDate)&& (tomdate|date:shortDate)!=(array.reminder|date:shortDate) && array.reminder !=""'>
                        <mat-chip>
                            <img class="todayrem" src="../../../assets/remi.svg">
                            {{ array.reminder | date:'medium' }}
                            <mat-icon matTooltip="Delete reminder" matChipRemove (click)="delete(array)">cancel
                            </mat-icon>
                        </mat-chip>
                    </div>


                </mat-chip-list>



            </div>
            <!------------------------------------------------------Label---------------------------------------------------------- -->

            <div fxLayout="row wrap">
                <mat-chip-list style="margin: 1%" *ngFor='let labels of array.label'>
                    <div *ngIf='labels != ""'>
                        <mat-chip>
                            {{labels}}
                            <mat-icon matChipRemove (click)="deletelabel(array,labels)">cancel
                            </mat-icon>
                        </mat-chip>
                    </div>
                </mat-chip-list>
            </div>



            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <div fxFlex="100" *ngIf="trash=='trash'" fxLayoutAlign="start center">
                <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="more">
                    <img id="img" src="../../../assets/more.svg" />
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deleteForever(array)">
                        Delete forever
                    </button>
                    <button mat-menu-item (click)="restore(array)">Restore</button>
                </mat-menu>
            </div>

            <div *ngIf="trash!='trash'">
                <app-iconlist class="icon" fxFlex="50" fxFlex.xs="90" [card]="array" [more]="archived"
                    (archivedCard)="archive($event)" (trashCard)="trashcard($event)"
                    (unarchiveCard)="unarchived($event)"></app-iconlist>
            </div>
        </mat-card>
    </div>
</div>