
::ng-deep .mat-dialog-container {
    padding: 0%;
    // background-color: aqua
    }

#img{
    width: 18px;
  height: 18px;
}
// .desc{
//   word-break: break-all
// }


// .input{
//   width: 300px;
//   overflow-y: hidden;
//   word-break: break-all
// }

.btn{
  margin-left: auto;
}